*{
    margin: 0;
    padding: 0;
}
body{
    
}
.navbar{
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #EDF2F4;
padding: 0 !important;
}
.navbar-brand img{
    width:20%;
    height: auto;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}