
*{
    background-color: #EDF2F4 !important;
}
img{
    width:25%;
    height: auto;
}
nav{
    font-size: 30px;
    margin:10px;
    font-family: 'Jura', sans-serif;
    color: #EDF2F4;
}
.nav-link{
    color:#8D99AE;
}
.nav-link:hover{
    color:#2B2D42;
}

.intro{
    font-family: 'Cormorant Garamond', serif;
    color:#2B2D42;
    
}