*{
    margin:0;
    padding: 0;
}
body{
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

   
}
#navbar-nav{
    position:sticky;
    top:0;
    z-index: 10;
    
}
.navbar{
    
    background-image:linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
    padding: 0; 
}
.navbar-brand img{
    height:60px;
    padding-left: 20px;
}
.navbar-nav li{
    padding:0 10px;
}

.navbar-nav li a {
    
    opacity: 1;
    font-weight: 600;
    font-size: 20px;
    float: right;
    text-align: left;
}
.fa-bars{
    font-size: 330px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.nav.navbar-nav.navbar-right li a {
    color: #fff;
}






#fronthome{
  background-image:linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);  
    color: #fff;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    
}
.paragraph{
    font-size: 20px;
}
